html {
    margin: 0%;
    padding: 0%;
    background-color: #aaa;
}

.relogio {
    border: 2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}